mixin tabs(pageOn, queryString, comparisonLength, compareHref, nomisEnabled)
    div.grid-row
        div.column-full
            ul#resultTabs.tab-wrapper(class = pageOn === 'NOMIS' ? "nomis" : "")
                li.tab(class = pageOn === 'HPA' ? "tab-selected" : "tab")
                    if pageOn !== 'HPA'
                        a(href='/search/results'+queryString) HPA
                    else
                        |HPA

                if nomisEnabled
                    li.tab(class = pageOn === 'NOMIS' ? "tab-selected nomis" : "tab")
                        if pageOn !== 'NOMIS'
                            a#nomisTab(href="/search/nomis/results") NOMIS
                        else
                            |NOMIS

                li.tab(class = pageOn === 'Comparison' ? "tab-selected" : "tab")
                    if pageOn !== 'Comparison' && compareHref
                        a(href=compareHref + queryString) Comparison (#{comparisonLength})
                    else
                        span(class = pageOn !== 'Comparison' ? 'tabText' : undefined) Comparison (#{comparisonLength})


