mixin tabs(pageOn, queryString, comparisonLength, compareHref, hpaHref)
    div.grid-row
        div.column-full
            ul.tab-wrapper
                li#hpaTab.tab(class = pageOn === 'HPA' ? "tab-selected" : "tab")
                    if pageOn !== 'HPA'
                        a(href=hpaHref+queryString) HPA
                    else
                        |HPA

                if comparisonEnabled
                    li#comparisonTab.tab(class = pageOn === 'Comparison' ? "tab-selected" : "tab")
                        if pageOn !== 'Comparison' && compareHref
                            a(href=compareHref + queryString) Comparison (#{comparisonLength})
                        else
                            span(class = pageOn !== 'Comparison' ? 'tabText' : undefined) Comparison (#{comparisonLength})


