ul.list#inmate-nav
     each val,index in nav
        li
            if(val.active)
                span.bold-small #{val.title}
            else
                a(id="#{index}", href="/subject/#{data.subject.prisonNumber}/#{index}")= val.title
