extends ../subject

block subject-details
    div.column-two-thirds
        div.grid-row
            div.column-two-thirds
                ul
                    li date convicted
                    li date sentenced
                    li sentencing court
                    li length of sentence
                    li main offence code and description
                    li last movement
                    li date of last movement 
                    li last movement establishment, movement code and description

                    