extends ../subject

block subject-details
    div.column-two-thirds
        div.grid-row
            div.column-two-thirds.bold-medium Subject is not in custody

        div.grid-row
            div.column-one-third Convicted
            div.column-two-thirds 19/08/2011
                    