extends layout
block content

    if err
        include ./search/searchError

    input#filter.marginTop(type="text", name="filter", placeholder="Filter table")
    table#filterTable
        thead
            tr
                th User
                th Date of last action
        tbody
            each item in latestAccess
                tr.filterableRow(data-id="#{item.user}")
                    td #{item.user}
                    td #{item.lastActionDate}

block scripts
    script(src="/public/javascripts/adminBundle.js?#{version}")
