extends layout

block content

    div.grid-row
        div.column-one-half
            h1.heading-large Authorisation Error

    p You are not authorised to use this application.


    a.link(href=`/logout`) Sign out
