extends layout

block content
    div.grid-row
        div.column-two-thirds
            h1.heading-xlarge Contact administrator
            
            div.form-group
               p Send an email to whatever@digital.justice.gov.uk from the email address registered with IIS

            
            a(href="/login") Logout