extends layout

block content
    div.grid-row
        div.column-full
            h1.heading-xlarge Sign in
            form(methods="post")
                div.form-group
                    label(for="staff_id")
                        span.form-label User ID
                    input(type="text",  id="staff_id", class="form-control")
                    
                div.form-group
                    label(for="password")
                        span.form-label Password
                    input(type="password", id="password", class="form-control")
                    
                div.form-group
                    button.button Sign in
                    
