extends layout

block content
    div.grid-row
        div.column-full

            if msg
                div(class="error-summary", role="group", aria-labelledby="error-message", tabindex="-1")
                    h1(class="heading-medium error-summary-heading", id="error-message")= msg
                    p All fields are required. Password is case-sensitive
                    ul.error-summary-list
                        li
                            a(href="#loginId") Enter user id and password again
    div.grid-row
        div.column-one-half
            h1.heading-xlarge= content.title
            
    div.grid-row
        div.column-full
            form(method="post")
                div.form-group
                    label(for="loginId")
                        span.form-label User id
                    input(type="text",  id="loginId", class="form-control", name="loginId")

                div.form-group
                    label(for="pwd")
                        span.form-label Password
                    input(type="password", id="pwd", class="form-control", name="pwd")

                div.form-group
                    button.button Sign in
