extends layout

block content

    div.grid-row
        div.column-one-half
            h1.heading-xlarge Not found
            h1.heading-large The page was not found

    a(href="/search") New search
