extends layout

block content
    div.grid-row
        div.column-two-thirds
            h1.heading-xlarge Your search returned XX results
            
            div.form-group
                div.inmate-details
                    p.bold-medium
                        a(href="#") John McDonagh
                        &middot; 10/1/1997
                        
                        span.form-hint Johny Ive, Jay Em, John Cena
                        
                    p Sentenced by Newcastle Crown Court, 8/8/2013
                    
                    ul.list
                        li
                            span.label.font-xsmall OUT
                            |  Conditional relase, Highdown
                            
                        li
                            a.font-xsmall(href="#") Show all movements
                            
                        
                    
                    p.font-xsmall.hint Viewed today at 10:29

            
            a(href="/login") Logout