extends layout


block content

    div.grid-row
        div.column
            h1.heading-xlarge= content.title

    div.grid-row
        div.column
            div.form-group
                p.bold The way you access HPA has changed (as of 1st August 2022)
                p
                    | The Historical Prisoner Application (HPA) has moved into HMPPS Digital Services.
                    | Although the sign in method has changed, the service will otherwise continue to work in the
                    | same way.

                p.bold How do I sign in to HPA now?
                p
                    | Click on the Digital Prison Services (DPS) icon on your desktop or navigate directly to the
                    | HMPPS Digital Services
                    |
                    a(href=`${authSignInUrl}`) sign in page
                    |. Just enter your NOMIS/DPS username and password.
                    | You should be able to see a HPA link once you have signed in.

                p.bold I've never had a NOMIS/DPS account, how can I sign in?
                p
                    | Please contact us
                    |
                    a(href=`mailto:`+ `${emailLink}`) here.

                p.bold Why are we doing this?
                p
                    | We are doing this to improve security as well as reducing the number of sign in details staff are
                    | currently using to access prison services.  If you have any questions, comments or issues
                    | accessing the HPA service after the 1st August, you can send any questions
                    |
                    a(href=`mailto:`+ `${emailLink}`) here.

    p.bold
        a.link(href=`/login`) Continue to sign in
