extends ../subject2

block subject-details
    div.column-two-thirds
        if (subject.offences && subject.offences.length !== 0)
            each val, index in subject.offences
                div.grid-row.list-row.listItem
                        div.column-full
                            div.left-border
                                span.quiet.block #{moment(val.date).format('DD/MM/YYYY')}
                                span Offence code #{val.code}

                            div.left-border
                                span #{setCase.capital(val.establishment)}

        else
            span= noResultsText
