extends wrapper-view

block search-page

      
    div.form-group
        if !body || (body && body.opt == 'dob')
            label.block-label.selection-button-radio.bold-small.selected(data-target="dob_container", for="opt_dob")

                input#opt_dob(type="radio", name="opt", value="dob", checked="checked")
                | Date of birth
        else
            label.block-label.selection-button-radio.bold-small(data-target="dob_container", for="opt_dob")

                input#opt_dob(type="radio", name="opt", value="dob" )
                | Date of birth
            
        
        div.panel.panel-border-narrow#dob_container
            fieldset
                legend
                    span.form-hint#dob-hint For example, 31 3 1980
                div.form-date
                    div.form-group.form-group-day
                        label.form-label(for="dob_day") Day
                        input.form-control#dob_day(name="dob_day", type="number", pattern="[0-9]*", min="0" max="31", aria-describedby="dob-hint", value=(body ? body.dob_day : ''))

                    div.form-group.form-group-month
                        label.form-label(for="dob_month") Month
                        input.form-control#dob_month(name="dob_month", type="number", pattern="[0-9]*", min="0", max="12", value=(body ? body.dob_month : ''))

                    div.form-group.form-group-year
                        label.form-label(for="dob_year") Year
                        input.form-control#dob_year(name="dob_year", type="number", pattern="[0-9]*", min="1900", max="#{new Date().getFullYear()}", value=(body ? body.dob_year : ''))


    div.form-group
        if (body && body.opt == 'age')
            label.block-label.selection-button-radio.bold-small.selected(data-target="age_container", for="opt_age")
                input#opt_age(type="radio", name="opt", value="age", checked="checked")
                | Age or range
        else
            label.block-label.selection-button-radio.bold-small(data-target="age_container", for="opt_age")
                input#opt_age(type="radio", name="opt", value="age")
                | Age or range
        
        div.panel.panel-border-narrow.js-hidden#age_container
                label(for="age")
                    span.form-label-bold.visually-hidden Age or range
                    span.form-hint For example, 32-34

                input.form-control.form-control-1-4#age(name="age", type="text", min="10" max="99", value=(body ? body.age : ''))

                    
                    

