extends wrapper-view

block search-page
    div.form-group
        label(for="prison_number")
            span.form-label-bold Prison number

        input.form-control.u-case#prison_number(type="text", name="prison_number", maxlength="8", value=(body.prison_number ? body.prison_number : ''))