extends wrapper-view

block search-page
    div.form-group
        label(for="forename")
            span.form-label-bold Forename

        input.form-control#forename(type="text", name="forename", maxlength="13", value=(body.forename ? body.forename : ''))


    div.form-group
        label(for="forename2")
            span.form-label-bold Middle name
            span.form-hint Previously known as forename 2

        input.form-control#forename2(type="text", name="forename2", maxlength="13", value=(body.forename2 ? body.forename2 : ''))


    div.form-group
        label(for="surname")
            span.form-label-bold Surname

        input.form-control#surname(type="text", name="surname", maxlength="26", value=(body.surname ? body.surname : ''))

