div.form-group
    label(for="name")
        span.form-label-bold First name
        span.form-hint You may enter partial name

    input.form-control#fname(type="text", name="fname")


div.form-group
    label(for="lname")
        span.form-label-bold Last name
        span.form-hint You may enter partial name

    input.form-control#lname(type="text", name="lname")


div.form-group
    label(for="alias")
        span.form-label-bold Alias
        span.form-hint Enter one alias per line

    textarea.form-control#alias(name="alias")
