extends ../layout

block content
    div.grid-row
        div.column-two-thirds
            h1.heading-xlarge= content.title
            
            mixin inmate(name, href)
                div.form-group
                    div.inmate-details
                        p.bold-medium
                            a(href="/subject/#{href}") #{name} 
                            block
            
            if data != 0
                each item in data
                   +inmate(item.INMATE_FORENAME_1.value + ' ' 
                            + (item.INMATE_FORENAME_2.value ? item.INMATE_FORENAME_2.value + ' ' : '') 
                            + item.INMATE_SURNAME.value, item.PK_PRISON_NUMBER.value)
                        span &middot; #{item.DOB.value}
                        span.form-hint *Alias*
                        
                        
            div.bold-small 
                a(href="/search") New search