extends ../layout

block content
    div.grid-row
        div.column-two-thirds
            h1.heading-xlarge Your search returned XX results
            
            div.form-group
                div.inmate-details
                    p.bold-medium
                        a(href="#") John McDonagh
                        &middot; 10/1/1997
                        
                        span.form-hint Johny Ive, Jay Em, John Cena
                        
