
div#formHolder(class = usePlaceholder ? "marginTop" : undefined)
    form(id="descriptionForm" method="post" action='/search/results/search')
        input(type="hidden" name="_csrf" value="#{csrfToken}")
        input(type="hidden" name="newsearch" value="true")

        div.form-group
            fieldset
                - var namesOpen = nameSearch || usePlaceholder ? true : false
                - var idsOpen = idSearch ? true : false
                - var otherOpen = otherSearch ? true : false

                div.multiple-choice(data-target="nameAgeForm")
                    if namesOpen
                        input#nameAge(type="radio" checked name="searchFormType" value="nameAge" aria-controls="nameAgeForm")
                        label(for="nameAge") Name/age
                    else
                        input#nameAge(type="radio" name="searchFormType" value="nameAge" aria-controls="nameAgeForm")
                        label(for="nameAge") Name/age

                div#nameAgeForm.panel.panel-border-narrow
                    include ./names.pug
                    include ./dob.pug

                div.multiple-choice(data-target="identifierForm")
                    if idsOpen
                        input#identifier(type="radio" checked name="searchFormType" value="identifier" aria-controls="identifierForm")
                        label(for="identifier") Unique identifier
                    else
                        input#identifier(type="radio" name="searchFormType" value="identifier" aria-controls="identifierForm")
                        label(for="identifier") Unique identifier

                div#identifierForm.panel.panel-border-narrow(aria-expanded="true")
                    include ./identifier.pug

                if addressEnabled
                    div.multiple-choice(data-target="otherForm")
                        if otherOpen
                            input#other(type="radio" checked name="searchFormType" value="other" aria-controls="otherForm")
                            label(for="other") Other
                        else
                            input#other(type="radio" name="searchFormType" value="other" aria-controls="otherForm")
                            label(for="other") Other

                    div#otherForm.panel.panel-border-narrow
                        include ./other.pug

        div.form-group
            button.button#submit Search

        div.padTop
            if queryStrings.shortList
                a#clearSearch(href="/search#{queryStrings.shortList}") New search
            else
                a#clearSearch(href="/search") New search

