div#formHolder
    h1.heading-medium
    ul#formTab
        li(class = idSearch || usePlaceholder ? "active" : undefined)
            a#idFormLink.tab(data-tab="idForm") Unique ID
        li(class = !idSearch && !usePlaceholder ? "active" : undefined)
            a#otherFormLink.tab(data-tab="altForm") Name/age
    div.formIdentifiers.tabPanel(data-panel="idForm" class = idSearch || usePlaceholder ?  undefined : "initiallyHidden")
        form(id="idForm" method="post" action='/search/results/search')
            input(type="hidden" name="_csrf" value="#{csrfToken}")
            include ./identifier.jade
            button.button#submitId Search

    div.formAlternative.tabPanel(data-panel="altForm" class = !idSearch && !usePlaceholder ? undefined : "initiallyHidden")
        form(id="descriptionForm" method="post" action='/search/results/search')
            input(type="hidden" name="_csrf" value="#{csrfToken}")
            include ./names.jade
            include ./dob.jade
            button.button#submitNonId Search
    div.padTop
        a#clearSearch(href="/search") Clear search
