extends ../layout

block content
    div.grid-row
        div.column-two-thirds
            h1.heading-xlarge= title

            form(method="post")
                input(type="hidden", name="this_page", value="#{view}")
                
                block search-page
                
                div.form-group
                    button.button Continue